@import '../../styles/variables';

$avatar-selector-transition-duration: $default-transition-duration;
$avatar-selector-camera-icon-color: $color-primary;
$avatar-selector-camera-icon-color-hover: rgba($avatar-selector-camera-icon-color, 90%);
$avatar-selector-remove-icon-color: $color-danger;
$avatar-selector-remove-icon-color-hover: rgba($avatar-selector-remove-icon-color, 90%);

.container {
  all: initial;
  position: relative;
  display: block;
  line-height: 0;
}

.avatar {
  position: relative;
  z-index: 0;
}

.avatarChanger {
  z-index: 1;
  position: absolute;
  right: 6px;
  bottom: 6px;
  cursor: pointer;
  border-radius: 100px;
  background-color: $white;
  padding: 5px;

  &:hover {
    & .avatarChangerIcon {
      opacity: 1;
      color: $avatar-selector-camera-icon-color-hover;
    }
  }
}

.avatarChangerIcon {
  color: $avatar-selector-camera-icon-color;
}

.avatarRemove {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 6px;
  cursor: pointer;
  border-radius: 100px;
  background-color: $white;
  padding: 2px;
  transition: all $avatar-selector-transition-duration ease;

  &:hover {
    transform: scale(1.2);

    & .avatarRemoveIcon {
      opacity: 1;
      color: $avatar-selector-remove-icon-color-hover;
    }
  }
}

.avatarRemoveIcon {
  color: $avatar-selector-remove-icon-color;
}