@import "../../styles/variables";
@import "../../styles/colors";

#add_product_modal, .edit-product, .remove-product {

    background-color: rgba(51, 51, 51, 0.45);

    .post_field {
        width: 100%;
        height: 38px;
        box-shadow: none !important;
        border: solid 1px !important;
        border-radius: 4px !important;
        padding-left: 13px !important;
        border-color: $dark-grey !important;
    }

}

.pt-1 {
    padding-top: 0!important;
    margin-left: 15px;
    color: red !important;
    font-size: 14px !important;
}

