@import "../../styles/variables";
@import "../../styles/colors";

#add_product_modal, #remove_product_modal {

    .post_field {
        width: 100%;
        height: 38px;
        box-shadow: none !important;
        border: solid 1px !important;
        border-radius: 4px !important;
        padding-left: 13px !important;
        border-color: $dark-grey !important;
    }

}

