@import "./colors";

#Conference {
    $min_screen_width_chat: 1200px;

    width: 75%;
    margin-left:auto;
    margin-right:auto;

    #hidden_info{
        color: red;
        font-size: 10px;
        min-width: 200px;
        flex-grow: 1;
        margin-top: 10px;
    }

    @media (min-width: $min_screen_width_chat) { 
        width: 85%;
    }

    .live_wrap {
        @media (min-width: $min_screen_width_chat) { 
            display: inline-block;
            width: 70%;
        }
        display: block;
        width: 100%;
    }

    .live_container {
        width: 100%;
        position: relative;
        padding-top: 56.25%;
    }

    .chat_wrap {
        @media (min-width: $min_screen_width_chat) { 
            display: inline-block;
            width: 30%;
        }
        display: block;
        width: 100%;
    }

    .chat_container{
        position: relative;
        width: 100%;
        height: 50vh;
        @media (min-width: $min_screen_width_chat) { 
            height: 100%;
        }
    }

    .conf_head {
        @media (min-width: $min_screen_width_chat) { 
            display: flex;
        }

        display: block;
    }

    .conf_posts {
        width: 60%;
        margin-left: auto;
        float: right;

        .join {
            margin-bottom: 1.5em;
            width: 100%;
            padding: 1em 0;
            font-size: 1.5em;
        }

        button {
            list-style-type: none;
            padding: 0.25rem 0.5rem;
      
            i {
              list-style-type: none;
              padding-right: 0.5rem;
            }
        }
    }

    .conf_side {
        width: 35%;
        float: left;
        margin-right: 5%;

        button {
            font-size: 1.1em;
        }

        ul li, button {
            list-style-type: none;
            padding: 0.25rem 0.5rem;
      
            i {
              list-style-type: none;
              padding-right: 0.5rem;
            }
        }

        > div {
            border: $light-border;
            margin-bottom: 2em;
        }
    }

    @media (max-width: $min_screen_width_chat) {
        .conf_posts,
        .conf_side {
          display: block;
          float: none;
          width: 100%;
          margin-left: 0;
          margin-bottom: 5%;
        }
    }

    button {
        display: block;
        background: none;
        border: none;
        padding: 0.3em 0.5em;
    }

    button:hover {
        background: rgb(245, 245, 245);
    }

    button:focus {
        outline: none;
    }
}