@import './variables';

#Feed {
  a.conference-link:hover {
    color: $dark-accent-color;
    cursor: pointer;
  }
  a.follow-link:hover {
    color: $dark-accent-color;
    cursor: pointer;
  }
  .left {
    @media screen and (max-width: 992px) {
      margin-right: 0 !important;
      margin-bottom: 2.5em;
    }
  }
  .column-in-center{
    float: none;
	margin: 0 auto;
}
.container {
	max-width: 1920px;
	width: 100%;
}
}
