@import './variables';

#Feed {
  a.talk-link:hover {
    color: $dark-accent-color;
    cursor: pointer;
  }
}

#leftm, #rightm {
	float: left;
	padding-left: 1.5%;
	padding-right: 1.5%;
	width: 15%;
  }
  
  #mainm {
	float: right;
	padding-left: 1.5%;
	padding-right: 1.5%;
	width: 70%;
  }
  
  @media screen and (max-width: 1000px) {
	#leftm, #rightm, #mainm {
	  width: 100%; 
	}
  }
