@import "./variables";

#Feed {
    a.conference-link:hover {
        color: $dark-accent-color;
        cursor: pointer;
    }

    .left {
         @media screen and (max-width: 992px){
            margin-right: 0 !important;
            margin-bottom: 2.5em;
        }
    }
}
