@import './variables';

.cardsLeft {
	position: fixed;
	top: 6rem;
	left: 0;

	@media (max-width: 992px) {
		position: initial;
	}
}

.cardsRight {
	position: fixed;
	top: 6rem;
	right: 0;

	@media (max-width: 992px) {
		position: initial;
	}
}

.posts {
	position: relative;
	left: 25%;
	margin-top: 1em;

	@media (max-width: 992px) {
		position: initial;
	}
}

.header {
	background-color: tint($color-primary, 50%);
}

.border {
	border-color: $color-primary !important;

	&:focus {
		box-shadow: 0 0 2px 1px $color-primary;
	}
}

.link {
	color: $color-primary;

	&:hover {
		color: shade($color-primary, 30%);
		text-decoration: underline;
	}
}

.breadcrumbLink {
	color: shade($color-primary, 10%);

	&:hover {
		color: shade($color-primary, 50%);
	}
}

.button {
	color: $white;
	background-color: $color-primary;
	border-color: $color-primary;

	&:hover,
	&:active {
		background-color: shade($color-primary, 10%) !important;
		border-color: $color-primary;
	}

  &:disabled {
    background-color: $greyish;

    &:hover {
      background-color: shade($greyish, 30%) !important;
    }
  }
}

.arrow {
	filter: invert(100%);
}

.correctAnswer {
	background-color: tint($color-success, 90%);
	border-color: $color-success;
}

.wrongAnswer {
	background-color: tint($color-danger, 90%);
	border-color: $color-danger;

	&:hover {
		background-color: tint($color-danger, 30%) !important;
		color: $white;
	}
}