@import "colors";

.trash {
  color:rgb(209, 91, 71);
}

.flag {
  color:rgb(248, 148, 6);
}

.panel-body {
  padding:0;
}

.panel-footer{
  margin-left: 10px;
  margin-top: 10px;
}

.panel-footer .pagination {
  margin: 0;
}

.panel-title {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  color: $glintt;
}

.panel .glyphicon,.list-group-item .glyphicon {
  margin-right:5px;
}

.panel-body .radio, .checkbox {
  display:inline-block;
  margin:0;
}

.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: rgb(128, 144, 160);
}

.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}

.list-group {
  margin-bottom:0;
  width: 100%;
}

.action-buttons span {
  margin-right: 5px;
}

.action-buttons span p {
  visibility: hidden;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: small;
}

.action-buttons span:hover p {
  visibility: visible;
}

.fa-check-square {
  color: $lightish-green-two;
}

.fa-check-square p {
  color: green;
}

.fa-minus-square {
  color: $red-orange
}


#no-notifications{
  margin-left: 40px;
}
