// .form-control {
//     background-color: #fff;
// }

// .form-control:focus {
//     background-color: #fff;
// }

// .first-row a {
//     color: #fff;
// }

// .first-row a:hover {
//     color: #fff;
//     text-decoration: none;
// }

// a{
//     color: #839496;
// }

// a:hover {
//     color: #839496;
//     text-decoration: underline;
// }


// .navbar-dark .navbar-toggler {
//     border-color: transparent;
// }




// .animated-icon1 {
//     width: 30px;
//     height: 20px;
//     position: relative;
//     margin: 0px;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .5s ease-in-out;
//     -moz-transition: .5s ease-in-out;
//     -o-transition: .5s ease-in-out;
//     transition: .5s ease-in-out;
//     cursor: pointer;
// }

// .animated-icon1 span {
//     display: block;
//     position: absolute;
//     height: 3px;
//     width: 100%;
//     border-radius: 9px;
//     opacity: 1;
//     left: 0;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .25s ease-in-out;
//     -moz-transition: .25s ease-in-out;
//     -o-transition: .25s ease-in-out;
//     transition: .25s ease-in-out;
// }

// .animated-icon1 span {
//     background: #6f8183;
// }

// .animated-icon1 span:nth-child(1) {
//     top: 0px;
// }

// .animated-icon1 span:nth-child(2) {
//     top: 10px;
// }

// .animated-icon1 span:nth-child(3) {
//     top: 20px;
// }

// .animated-icon1.open span:nth-child(1) {
//     top: 11px;
//     -webkit-transform: rotate(135deg);
//     -moz-transform: rotate(135deg);
//     -o-transform: rotate(135deg);
//     transform: rotate(135deg);
// }

// .animated-icon1.open span:nth-child(2) {
//     opacity: 0;
//     left: -60px;
// }

// .animated-icon1.open span:nth-child(3) {
//     top: 11px;
//     -webkit-transform: rotate(-135deg);
//     -moz-transform: rotate(-135deg);
//     -o-transform: rotate(-135deg);
//     transform: rotate(-135deg);
// }


// .animated-icon2 {
//     width: 30px;
//     height: 20px;
//     position: relative;
//     margin: 0px;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .5s ease-in-out;
//     -moz-transition: .5s ease-in-out;
//     -o-transition: .5s ease-in-out;
//     transition: .5s ease-in-out;
//     cursor: pointer;
// }

// .animated-icon2 span {
//     display: block;
//     position: absolute;
//     height: 3px;
//     width: 100%;
//     border-radius: 9px;
//     opacity: 1;
//     left: 0;
//     -webkit-transform: rotate(0deg);
//     -moz-transform: rotate(0deg);
//     -o-transform: rotate(0deg);
//     transform: rotate(0deg);
//     -webkit-transition: .25s ease-in-out;
//     -moz-transition: .25s ease-in-out;
//     -o-transition: .25s ease-in-out;
//     transition: .25s ease-in-out;
// }

// .animated-icon2 span {
//     background: #6f8183;
// }

// .animated-icon2 span:nth-child(1) {
//     top: 0px;
// }

// .animated-icon2 span:nth-child(2) {
//     top: 10px;
// }

// .animated-icon2 span:nth-child(3) {
//     top: 20px;
// }

// .animated-icon2.open span:nth-child(1) {
//     top: 11px;
//     -webkit-transform: rotate(135deg);
//     -moz-transform: rotate(135deg);
//     -o-transform: rotate(135deg);
//     transform: rotate(135deg);
// }

// .animated-icon2.open span:nth-child(2) {
//     opacity: 0;
//     left: -60px;
// }

// .animated-icon2.open span:nth-child(3) {
//     top: 11px;
//     -webkit-transform: rotate(-135deg);
//     -moz-transform: rotate(-135deg);
//     -o-transform: rotate(-135deg);
//     transform: rotate(-135deg);
// }


// #dropdownCategories-btn {
//     width: 170px;
// }

// @media (min-width: 768px) {
//     #nav-search-input {
//         width: 200px;
//     }
// }

// @media (min-width: 992px) {
//     #nav-search-input {
//         width: 400px;
//     }
// }
