@import "../../styles/variables";

$header-color: $black;
$header-background-color: $color-primary;
$header-height: 75px;
$header-font-family: $default-font-family;
$header-font-size: $default-font-size-large;

.container {
  height: 5rem;
  background-color: $white;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2147483647;
}

.wrapper {
  color: $header-color;
  background-color: lighten(rgba($header-background-color, 1), 5%);
  font-family: $header-font-family;
  font-size: $header-font-size;
  font-weight: 500;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 16777271;
}

.logo {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  color: $white !important;
  text-decoration: none;
  padding: 0 10px;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}

.link {
  text-decoration: none;
  color: $white !important;

  &:hover {
    text-decoration: none;
    color: darken($white, 10%);
  }
}

.buttons {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.icon {
  color: $white;
}

.language_wrapper {
  margin-left: 0;
  margin-right: 0;

  @media (min-width: 992px) {
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 150px;
  }
}
