@import '../../styles/variables';

header {
  position: sticky;
  top: 0;
  z-index: 1;

  nav.navbar {
    background-color: $glintt !important;

    .navbar-toggler {
      border-color: transparent;
      outline: none;
    }

    #dropdownCategories-btn {
      background-color: transparent;
      border: none;
    }

    #dropdownCategories-btn:focus {
      background-color: $dark-accent-color;
      box-shadow: 0 0 0 0.2rem $light-accent-color !important;
    }

    .dropdown-item:active {
      background-color: $glintt !important;
    }

    //Media queries
    @media (min-width: 768px) {
      #nav-search-input {
        width: 200px;
      }
    }

    @media (min-width: 992px) {
      #nav-search-input {
        width: 400px;
      }
    }

    @media (max-width: 992px) {
      .navbar-collapse .dropdown,
      .navbar-collapse .dropdown button,
      .navbar-collapse a.nav-link,
      .navbar-collapse a.nav-link span {
        margin-left: 0 !important;
        padding-left: 0 !important;
      }
    }

    //Animated icons
    .animated-icon1 {
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
    }

    .animated-icon1 span {
      display: block;
      background: #6f8183;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    .animated-icon2 span {
      display: block;
      background: #6f8183;
      position: absolute;
      height: 3px;
      width: 100%;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    .animated-icon2 span:nth-child(1) {
      top: 0;
    }

    .animated-icon2 span:nth-child(2) {
      top: 10px;
    }

    .animated-icon2 span:nth-child(3) {
      top: 20px;
    }

    .animated-icon1 span:nth-child(1) {
      top: 0;
    }

    .animated-icon1 span:nth-child(2) {
      top: 10px;
    }

    .animated-icon1 span:nth-child(3) {
      top: 20px;
    }

    .animated-icon1.open span:nth-child(1) {
      top: 11px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
      top: 11px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }

    .animated-icon2 {
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
    }

    .animated-icon2.open span:nth-child(1) {
      top: 11px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    .animated-icon2.open span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    .animated-icon2.open span:nth-child(3) {
      top: 11px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}
