@import "../../styles/colors";

.chat {
    width: 100%;
    height: 100%;
    border: 1px black solid;
    background-color: rgb(245, 245, 245);
    position: relative;

    .chat_header {
        width: 100%;
        height: 10%;
        display:flex;
        justify-content:center;
        align-items:center;
        font-size: 1.5em;
        background-color: $glintt;
    }

    .chat_body {
        width: 100%;
        height: 80%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .chat_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        display:flex;
        align-items:center;

        input {
            width: 80%;
            margin-left: 5%;
            margin-right: 2.5%;
            padding: 2.5% 0;
            border: none;
            background: none;
        }

        input:focus {
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
        }

        button {
            padding: 2.5%;
            background: none;
            border: none;
        }

        button:hover {
            background: rgb(235, 235, 235);
        }

        button:focus {
            outline: none;
        }
    }
}