@import "../../styles/variables";
@import "../../styles/colors";

.post_modal_Edit, .post_modal_Create, .report_modal, .invite_modal {

    textarea {
        overflow-y: scroll !important;
        height: 500px !important;
        padding-top: 6px !important;
    }
    
    .post_field {
        width: 100%;
        height: 38px;
        box-shadow: none !important;
        border: solid 1px !important;
        border-radius: 4px !important;
        padding-left: 13px !important;
        border-color: $dark-grey !important;
    }

    .empty_required_field {
        width: 100%;
        height: 38px;
        box-shadow: none !important;
        border: solid 1px !important;
        border-radius: 4px !important;
        padding-left: 13px !important;
        border-color: $color-danger !important;
    }

    .field_required_warning {
        color: $color-danger;
    }

    #invite_modal_done {
        background-color: #428bca !important;
    }

    #invite_user_input {
        border: 1px solid;
        width: 250px;
        text-indent: 10px;
    }
}