@import 'variables';

$light-border: solid lightgray 1px;

.post_comment .post_avatar {
    width: 5vh;
    height: 5vh; 
}
  
.comment_action {
    width: 30%;
    background: none;
    border: none;
    height: 100%; 
}
  
.post_comment .comment_header {
    display: inline-flex; 
}
  
.post_comment .post_author {
    margin: 0 0.5rem 0 0; 
}

.comment_action:hover {
    background: whitesmoke;
}
  
.comment_action:focus {
    outline: none;
}
      
.post_comment .post_actions {
    border: none; 
}
      
.post_comment .comment_text {
    margin: 0 0 0 0.75rem;
    position: relative;
    background: #f0f0f0;
    border-radius: 1rem;
    padding: 0.5rem; 
}
  
      .post_comment .comment_social {
          font-size: 0.9rem;
          margin-left: 0.75rem; 
      }
        
        .post_comment .comment_action {
          width: initial;
          margin: 0;
          padding: 0.5rem; 
      }
        
        .post_comment .comment_detail {
          position: absolute;
          right: 0;
          bottom: -10px;
          font-size: 0.9rem; 
      }
        
        .post_comment .comment_detail i {
          margin-right: 5px; 
      }
  