@import '../../styles/common';

.post {
  border: solid lightgray 1px;
}

.post_header,
.post_content,
.post_stats,
.post_actions {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-bottom: solid lightgray 1px;
}

.post_comment_section {
  padding: 0.75rem 1.5rem;
}

.post_author {
  margin: 0 0 0 0.75rem;
  color: $glintt;
}

.post_author:hover {
  color: $dark-accent-color;
  text-decoration: none;
}

.post_avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 6vh;
  height: 6vh;
}

.post_comment .post_avatar,
.post .post_add_comment .post_avatar {
  width: 5vh;
  height: 5vh;
}

.post_date {
  margin: 0 0 0 auto;
  color: rgb(110, 110, 110);
}

.post_date:hover {
  text-decoration: none;
  color: black;
}

.post_options {
  cursor: pointer;
}

.post_content {
  border-bottom: none;
  padding: 0;
}

.post_content p, .post_content h4 {
  margin: 0;
  padding: 0.75rem 1.5rem;
}

.post_content img,
.post_content iframe {
  width: 100%;
  text-align: center;
  display: block;
  object-fit: cover;
  max-height: 1000px;
}

.post_stats {
  display: flex;
  justify-content: space-around;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post_actions {
  display: flex;
  justify-content: space-around;
  padding-top: 0;
  padding-bottom: 0;
  height: 3rem;
}

.post_actions button,
.comment_action,
.submit_comment,
.post_options button {
  width: 30%;
  background: none;
  border: none;
  height: 100%;
}

.submit_comment {
  width: initial;
}

.post_actions button i {
  margin-right: 0.5rem;
}

.post_comment .comment_header {
  display: inline-flex;
}

.post_add_comment {
  display: flex;
  align-items: center;
}

.post_comment .post_author {
  margin: 0 0.5rem 0 0;
}

/* Bellow 512 hide action button icons */
@media (max-width: 512px) {
  .post_actions button span {
    display: none;
  }
}

.post_actions button:hover,
.comment_action:hover,
.submit_comment:hover,
.post_options button:hover {
  background: rgb(245, 245, 245);
}

.post_actions button:focus,
.comment_action:focus,
.submit_comment:focus,
.post_options button:focus {
  outline: none;
}

.post_options button {
  width: 100% !important;
}

.post_options {
  width: 2em;
  height: 1.5em;
}

.post_comment .comment_detail i {
  margin-right: 5px;
}

.post_actions button.liked i {
  color: var(--main-color);
}

.post_comment .post_actions {
  border: none;
}

.post_comment .comment_text {
  margin: 0 0 0 0.75rem;
  position: relative;
  background: rgb(240, 240, 240);
  border-radius: 1rem;
  padding: 0.5rem;
}

.post_comment .comment_social {
  font-size: 0.9rem;
  margin-left: 0.75rem;
}

.post_comment .comment_action {
  width: initial;
  margin: 0;
  padding: 0.5rem;
}

.post_comment .comment_detail {
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 0.9rem;
}

.tags {
  color: lightsalmon;
  font-size: small;
  padding: 0.25rem 1rem 0.25rem 1rem;
  align-self: center;
}

.post_tags {
  justify-items: flex-end;
  padding: 0.75rem 1.5rem;
  border-bottom: solid lightgray 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}