body {
  margin: 0;
  padding: 0;
  color: #5a5a5a;
  background-color: #fff;
  font-family: $fonts !important;
}


.footer a {
  color: $main-color !important;
}

.footer a:hover {
  color: $dark-accent-color !important;
}

body p {
  margin: 0;
}

textarea {
  overflow: hidden !important;
  resize: none !important;
  height:  calc(1.5em + .75rem + 2px) !important;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 0 0.2rem $light-accent-color !important;
  border-color: $light-accent-color !important;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #6f8183;
}

input[type="text"]:focus::placeholder
textarea:focus::placeholder {
  color: darkgrey;
}