$main-color: #F69127;
$light-accent-color: #e9542040;
$dark-accent-color: #ff6600;
$fonts: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

@import './app';
@import './header';
@import './input';