.btn-primary {
  color: #fff;
  background-color: #f69127;
  border-color: #f69127;
}

a,
h1 {
  color: #f69127;
  background-color: transparent;
}

.card-title a:hover {
  color: rgba(246, 145, 39, 0.8);
}
#user-points {
  color: #f69127;
}